* {
  box-sizing: border-box;
}
html {
  background: url(http://www.ideate-interactive.com/IY/images/soundz-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}
a {
  text-decoration: none;
}
.main-header {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
}
.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}
.header {
  width: 980px;
  height: 192px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #855d54;
  margin-top: 47px;
  overflow: hidden;
}
.header-playlist {
  width: 100%;
  height: 100%;
  margin-top: 37px;
  overflow: visible;
}
.fa-bars {
  color: #d7c4a6;
  font-size: 25px;
  margin-left: 11px;
  margin-top: 6px;
}
.logo {
  font-size: 70px;
  border: 1px solid #855d54;
  margin: 0 0 10px 52px;
  padding: 10px 18px 1px 18px;
  line-height: 61px;
  font-size: 51px;
  display: block;
  float: left;
  border-radius: 2px;
}
.logo-cov {
  width: 400px;
  overflow: hidden;
  padding: 0;
  height: 89px;
  margin-top: -36px;
  padding-top: 38px;
  position: relative;
}
.logo-hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(132, 93, 85, 0), rgba(132, 93, 85, 0.85), rgba(132, 93, 85, 0));
  background-image: -moz-linear-gradient(left, rgba(132, 93, 85, 0), rgba(132, 93, 85, 0.85), rgba(132, 93, 85, 0));
  background-image: -ms-linear-gradient(left, rgba(132, 93, 85, 0), rgba(132, 93, 85, 0.85), rgba(132, 93, 85, 0));
  background-image: -o-linear-gradient(left, rgba(132, 93, 85, 0), rgba(132, 93, 85, 0.85), rgba(132, 93, 85, 0));
  position: absolute;
  top: 92px;
  display: inline-block;
  width: 620px;
  margin-left: -178px;
}
.search-container {
  clear: left;
  padding: 40px 0 12px 55px;
  margin-left: -3px;
}
.view-btns {
  float: left;
  font-size: 22px;
  height: 30px;
  margin-top: 23px;
  margin-left: 32px;
}
.view-btns .glyph {
  float: left;
  padding-right: 20px;
  cursor: pointer;
}
.view-btns .glyph:hover {
  color: #32cb84;
}
.fa-search {
  font-size: 35px;
  float: left;
  margin-top: 19px;
}
.genre-search {
  margin-left: 20px;
  display: inline-block;
}
form input#search-keyword,
input#search-genre {
  color: #855d54;
  font-family: 'Merriweather', sans-serif;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #855d54;
  font-size: 28px;
  outline: 0;
  font-style: italic;
  font-weight: 300;
  background-color: #f5e9d1;
  float: left;
  display: inline;
  background-color: transparent;
  margin-left: 12px;
  margin-top: 14px;
  letter-spacing: 1px;
}
::-webkit-input-placeholder {
  color: #c9b796;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}
.box {
  width: 200px;
  height: 200px;
  float: left;
  background-color: rgba(255, 255, 253, 0.4);
  color: rgba(251, 249, 240, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color: #855d54;
  position: relative;
  display: inline;
  margin: 9px;
  border-radius: 3px;
  border-bottom-right-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
}
.box img {
  width: 200px;
  display: none;
}
.buttons {
  border-bottom-right-radius: 0.5em;
}
.box .genre {
  font-family: 'Lato', sans-serif;
  text-transform: lowercase;
  font-size: 13px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 13px;
  opacity: 1.0;
  color: #2e2a27;
}
.box .title {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  padding-left: 13px;
  opacity: 1.0;
  text-transform: lowercase;
}
.box .buttons {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
}
.buttons .play {
  float: left;
  width: 100px;
  height: 45px;
  background: #b39c85;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #d7c4a6;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.pause-hide {
  display: none;
}
.pause-show {
  display: block;
}
.play-hide {
  display: none;
}
.play-show {
  display: block;
  margin-bottom: 18px;
}
.buttons .play:hover {
  background-color: #855d54;
  color: #fff;
}
.play .glyph {
  font-size: 23px;
  padding: 10px;
}
.fav .glyph {
  font-size: 23px;
  margin-top: 11px;
  float: left;
  margin: 10px 0 0px 26px;
}
.fav .glyph > span:first-child {
  font-size: 11px;
  line-height: 19px;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}
.buttons .fav {
  float: left;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background: #32cb84;
  width: 100px;
  height: 45px;
  color: #c1f1da;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
.buttons .fav:hover {
  color: #306e54;
  background-color: #3ee796;
}
.buttons .fav:hover {
  color: #306e54;
  background-color: #3ee796;
}
.buttons .fav .heart-selected {
  font-size: 26px;
  line-height: 13px;
  float: left;
  padding-top: 1px;
  padding-left: 11px;
}
.main-container {
  padding-top: 15px;
  width: 80%;
  margin-right: 17%;
  margin-left: 3%;
  clear: left;
  position: relative;
}
.content {
  position: relative;
  overflow: hidden;
}
.panel {
  position: fixed;
  left: -9.625em;
  /*left or right and the width of your navigation panel*/
  width: 9.625em;
  /*should match the above value*/
}
.menu-nav {
  background-color: #9fbb8e;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.menu-nav .avatar .inner {
  width: 100%;
  margin: auto;
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: pointer;
  transition: all 0.4s ease;
}
.menu-nav .avatar .inner:hover {
  opacity: 1;
  filter: alpha(opacity=10);
  transition: all 0.4s ease;
}
.menu-nav img.avatar {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  display: block;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.menu-nav .avatar-name {
  color: #efeae0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 27px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 0px;
  text-align: center;
}
.fa-twitter {
  font-size: 18px;
  padding-left: 10px;
  float: left;
}
.menu-nav a.log {
  color: #efeae0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 300;
  cursor: pointer;
  font-style: italic;
  display: block;
  padding-bottom: 10px;
}
.menu-nav a.log:hover {
  text-decoration: none;
}
.menu-nav a.main-nav {
  color: #e0eada;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  border-top: 1px solid #acc899;
  margin: 0;
  transition: all 0.4s ease;
}
.menu-nav li:last-child {
  border-bottom: 1px solid #acc899;
}
.menu-nav a.main-nav:hover {
  background: #6ed093;
  color: #ffffff;
  transition: all 0.4s ease;
}
.reg-wrapper {
  position: relative;
  text-align: left;
  display: inline-block;
}
.reg-wrapper img {
  width: 398px;
  height: 476px;
  float: left;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
}
.reg-logo {
  font-family: "Lato", sans-serif;
  margin-left: 500px;
  font-size: 105px;
  margin: -26px 5px 0 391px;
  position: absolute;
  color: rgba(232, 212, 191, 0.9);
  font-weight: 100;
}
.reg-bg-right {
  margin-left: 398px;
  width: 430px;
  height: 401px;
  background: #f4ede0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: left;
  margin-top: 75px;
}
.reg {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #0b311f;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  margin-top: 69px;
}
.reg-title {
  margin-right: 80px;
  margin-left: 80px;
}
.reg-bg-right hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(235, 214, 191, 0), rgba(235, 214, 191, 0.85), rgba(235, 214, 191, 0));
  background-image: -moz-linear-gradient(left, rgba(235, 214, 191, 0), rgba(235, 214, 191, 0.85), rgba(235, 214, 191, 0));
  background-image: -ms-linear-gradient(left, rgba(235, 214, 191, 0), rgba(235, 214, 191, 0.85), rgba(235, 214, 191, 0));
  background-image: -o-linear-gradient(left, rgba(235, 214, 191, 0), rgba(235, 214, 191, 0.85), rgba(235, 214, 191, 0));
}
.twitter-btn {
  width: 343px;
  height: 62px;
  background-color: #3392d4;
  text-align: left;
  font-weight: 100;
  font-style: normal;
  cursor: pointer;
  border: 1px solid #3ea3e9;
  margin-left: 45px;
  margin-top: 28px;
  border-radius: 2px;
  margin-right: 14px;
}
.twitter-btn:hover {
  background-color: #38a3ed;
}
.twitter-btn .left {
  width: 61px;
  height: 59px;
  background-color: #2a86c6;
  display: inline-block;
  float: left;
  border-right: 1px solid #3ea3e9;
  margin-right: 17px;
}
.twitter-btn .left img {
  width: 61px;
  height: 59px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.twitter-btn .t-text {
  padding-top: 19px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #fdfdfd;
  float: left;
  display: inline-block;
  padding-left: 8px;
}
.twitter-btn .t-text-sm {
  padding-top: 18px;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #fdfdfd;
  font-style: italic;
  float: left;
  display: inline-block;
  padding-right: 0;
  padding-left: 10px;
}
.reg-smtext {
  color: #c69e72;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin-top: 12px;
  font-style: italic;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
}
.nav-logo-wrapper {
  height: 57px;
  background: #94b182;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: #cfdcc8;
  padding-top: 39px;
  padding-left: 17px;
  border-bottom: 1px solid #a7c496;
}
.nav-twitter-signin {
  width: 81px;
  height: 33px;
  background: #94b182;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  color: #ffffff;
  margin: 11px 34px 45px 34px;
  border-radius: 2px;
  font-weight: 100;
  cursor: pointer;
  padding-top: 7px;
  transition: all 0.4s ease;
}
.nav-twitter-signin:hover {
  background: #03c2fb;
  transition: all 0.4s ease;
}
.nav-twitter-signin .glyph {
  padding: 0px 0 0 11px;
  float: left;
  display: inline-block;
  font-size: 16px;
}
.signin-txt {
  padding: 4px 0 0px 5px;
  float: left;
  display: inline-block;
  font-size: 9px;
}
.reg-title-welcome img {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  display: block;
  width: 80px;
  height: 80px;
  margin-top: -44px;
  margin-left: 171px;
  margin-right: auto;
}
.reg-title-welcome {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #0b311f;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 62px;
}
.reg-title-welcome a {
  color: #3cca86;
  border-bottom: 1px solid #3cca86;
  text-decoration: none;
}
.reg-title-welcome a:hover {
  color: #3cca86;
  border-bottom: none;
  text-decoration: none;
}
.reg-title-text {
  margin-top: 53px;
}
.reg-title-text-sm {
  font-size: 20px;
  padding-top: 8px;
}
.explore-btn {
  width: 213px;
  height: 39px;
  background: #0b311f;
  color: #ffffff;
  border-radius: 23px;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-style: italic;
  display: inline-block;
  font-weight: 100;
  padding-top: 7px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.explore-btn:hover {
  background: #3cca86;
  transition: all 0.4s ease;
}
.reg-btn-wrapper {
  width: 213px;
  margin-right: auto;
  margin-left: auto;
}
.reg a.log {
  color: #3cca86;
  font-size: 12px;
  border-bottom: 1px solid #3cca86;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.reg a.log:hover {
  color: #3cca86;
  border-bottom: none;
  text-decoration: none;
}
/*styles for playlist page*/
.playlist-title {
  font-size: 37px;
  margin-left: 51px;
  margin-top: -17px;
  font-weight: 200;
  color: #c28d66;
  display: inline-block;
  float: left;
}
.soundbars {
  display: inline-block;
  float: left;
  margin-left: 18px;
  margin-top: -40px;
}
.soundbars img {
  display: inline-block;
  float: left;
  margin: -34px 0 0 20px;
}
.pl-status {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #c28d66;
  display: inline-block;
  float: left;
  margin: 0px 0 0 10px;
}
.playlist-name {
  display: inline-block;
  float: left;
  margin: -10px 0 0 30px;
  font-size: 27px;
  font-weight: 200;
  color: #c28d66;
}
.song-title {
  font-size: 71px;
  clear: left;
  margin: 0px 0 0 44px;
  font-weight: 200;
  padding-top: 20px;
  width: 62%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pl-subtitles {
  width: 400px;
  display: inline-block;
}
.pl-genre-title {
  clear: left;
  display: inline-block;
  float: left;
  margin: 15px 0 0 49px;
  color: #c28d66;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", sans-serif;
}
.pl-genre {
  display: inline-block;
  float: left;
  margin: 15px 0 0 9px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", sans-serif;
}
.header .glyph {
  display: inline-block;
  margin: 13px 0 0 17px;
  font-size: 20px;
  float: left;
  color: #c28d66;
}
.header .share {
  margin: 14px 0 0 12px;
}
.pl-song {
  width: 100%;
  border-top: 1px solid #e1c1a0;
  padding-top: 15px;
  height: 48px;
  margin: 0;
  color: #855d54;
  padding: 13px 0 18px 0;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: rgba(255, 255, 253, 0.4);
  color: rgba(251, 249, 240, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  margin-bottom: 4px;
}
.pl-song:first-child {
  border-top: none;
}
.pl-song:hover {
  width: 100%;
  color: #ffffff;
  padding-top: 18px;
  height: 65px;
  margin: 0;
  background: #4adf97;
  cursor: pointer;
  transition: all 0.4s ease;
}
.pl-song-playing {
  width: 100%;
  color: #ffffff;
  padding-top: 21px;
  height: 65px;
  margin: 0;
  background: #4adf97;
  cursor: pointer;
  transition: all 0.4s ease;
}
.pl-song-playing .pl-song-title {
  font-size: 16px;
  color: #ffffff;
  width: 360px;
  transition: all 0.4s ease;
}
.pl-song-playing .pl-img {
  margin-top: -22px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 64px;
  opacity: 1;
  margin-left: 0;
  float: left;
  transition: all 0.4s ease;
}
.pl-song-playing .pl-song-genre {
  font-size: 16px;
  color: #ffffff;
  transition: all 0.4s ease;
}
.pl-song:hover .pl-song-title {
  font-size: 16px;
  color: #ffffff;
  width: 390px;
  transition: all 0.4s ease;
}
.pl-song:hover .pl-img {
  margin-top: -18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 65px;
  opacity: 1;
  margin-left: 0;
  transition: all 0.4s ease;
}
.pl-song:hover .pl-song-genre {
  font-size: 16px;
  color: #ffffff;
  transition: all 0.4s ease;
}
.pl-song:hover .glyph.delete {
  color: #ffffff;
  margin-top: 3px;
  transition: all 0.4s ease;
}
.pl-song .pl-img {
  float: left;
  display: inline-block;
  width: 40px;
  margin-top: -11px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  display: block;
  opacity: 0.5;
  margin-left: 5px;
  transition: all 0.4s ease;
}
.pl-song-title {
  font-family: "Lato", sans-serif;
  color: #855d54;
  font-weight: 300;
  font-size: 15px;
  float: left;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 421px;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
  height: 20px;
  text-transform: lowercase;
  overflow: hidden;
}
.pl-song-genre {
  font-family: "Lato", sans-serif;
  color: #855d54;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 113px;
  margin: 0 15px 0 0;
  padding: 0;
  display: inline-block;
  transition: all 0.4s ease;
}
.glyph.delete {
  color: #e1c1a0;
  font-size: 22px;
  margin: -39px 10px 0 0;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  float: right;
}
.glyph.delete:hover {
  color: red;
  margin: -34px 10px 0 0;
}
.scrollbars {
  height: 504px;
  width: 45%;
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 22px;
  margin-right: 25px;
}
.player-wrapper {
  width: 365px;
  display: inline-block;
  overflow: visible;
  position: relative;
}
.circle {
  width: 336px;
  height: 336px;
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  margin-left: 10px;
  display: inline-block;
  -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  border: 40px solid rgba(255, 255, 253, 0.14);
  overflow: hidden;
}
.track-controllers {
  position: relative;
  margin-top: -24px;
}
.track-controllers a.playpause {
  width: 256px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 257px;
  text-decoration: none;
  position: absolute;
  top: -277px;
  left: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 159px;
  padding-top: 100px;
}
.track-controllers a.playpause i {
  font-size: 60px;
  color: #ffffff;
  opacity: 0;
}
.track-controllers a.playpause:hover {
  background: rgba(237, 213, 187, 0.5);
}
.track-controllers a.playpause:hover i {
  opacity: 0.9;
}
.track-controllers a.forward {
  width: 34px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 25px;
  text-decoration: none;
  position: absolute;
  top: -156px;
  right: -16px;
  background: url("../img/new-forward.png");
}
.track-controllers a.forward:hover {
  background-position: -99px 0;
}
.track-controllers a.backward {
  width: 32px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 25px;
  text-decoration: none;
  position: absolute;
  top: -156px;
  right: 357px;
  background: url("../img/new-backward.png");
}
.track-controllers a.backward:hover {
  background-position: -100px 0;
}
.artwork {
  background: url("https://i1.sndcdn.com/artworks-000103996683-uz0jec-large.jpg");
  margin-top: 0px;
  margin-left: 0px;
  width: 265px;
  transition: all 0.3s ease;
}
.track-progress {
  top: 0;
  position: absolute;
  left: 10px;
  overflow: visible;
}
