<ul id="nav">
		<li><a href="" title="Next Section"><img src="img/dot.png" alt="Link" /></a></li>
	    <li><a href="" title="Next Section"><img src="img/dot.png" alt="Link" /></a></li>
	    <li><a href="" title="Next Section"><img src="img/dot.png" alt="Link" /></a></li>
	    <li><a href="" title="Next Section"><img src="img/dot.png" alt="Link" /></a></li>
	</ul>
	
	<div id="intro">
		<div class="story">
	    	<div class="float-left">
            <div class="home-logo">SOUNDZ</div>
	        <h2>Hi.</h2><p>I’m just a little app for playing songs from SoundCloud.  Etiam laoreet augue at finibus interdum. Maecenas ut ipsum tempor, faucibus lacus in, pulvinar diam. Curabitur a mi erat. Pellentesque vel ex justo. Morbi vitae pharetra augue. Nunc sed est libero. In rutrum libero eu nibh.</p><div class="button-wrapper"><div class="home-playlist-btn">My Playlist</div></div>
	        </div>
	    </div> <!--.story-->
	</div> <!--#intro-->
	
	<div id="second">
	<div class="story">
	    	<div class="float-right">
	        	<h2>build your playlist</h2>
	            <p>No need to sign up for SoundCloud.  Just register a SOUNDZ account, search for free songs, and add them to your playlist. Search by genre or keyword, and add songs to your playlist, and create multiple playlists.</p><div class="acct-txt">Don't have an account?</div><div class="button-wrapper2"><div class="home-signup-btn">Sign Up</div></div>
	        </div>
	    </div> <!--.story-->
	    
	</div> <!--#second-->
	
	<div id="third">
		<div class="story">
	    	<div class="float-left">
	        	<h2>music</h2>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec tempus ligula. Curabitur elementum sed lectus ac consectetur. Morbi felis dolor, elementum non consectetur et, fringilla quis nulla. Phasellus ipsum urna, auctor eu pharetra eget, egestas vitae urna</p>
	        </div>
	    </div> <!--.story-->
	</div> <!--#third-->
	
	<div id="fifth">
		<div class="story">
        	<div class="footer-logo-wrapper">
		    <div class="footer-logo">SOUNDZ</div>
            </div>
	      	<div class="footer-links">
            <a href="#">Home</a><a href="#">Register</a><a href="#">Create a Playlist</a><a href="#">Search</a><a href="#">Login</a>
	     	</div>
	  
	      
	    </div> <!--.story-->
	</div> <!--#fifth-->