<ul id="nav">
		<li><a href="" title="Next Section"></a></li>
	    <li><a href="" title="Next Section"></a></li>
	    <li><a href="" title="Next Section"></a></li>
	    <li><a href="" title="Next Section"></a></li>
	</ul>
	
	<div id="intro">
		<div class="story">
	    	<div class="float-left">
            <div class="home-logo">SOUNDZ</div>
	        <h2>Hi.</h2><p>I'm just a little app for playing songs from SoundCloud.  Love music?  Search through millions of tracks in all genres, build your own playlist, and stream on continuous play. </p><div class="button-wrapper"><div class="home-playlist-btn"><i class="fa fa-headphones"></i> My Playlist</div></div>
	        </div>
	    </div> <!--.story-->
	</div> <!--#intro-->
	
	<div id="second">
	<div class="story">
	    	<div class="float-right">
	        	<h2>build your playlist</h2>
	            <p>Just log into SOUNDZ with your Twitter account, search for free songs, and add them to your playlist. Stream on continuous play while you're working, or DJ your next party with SOUNDZ and invite friends to add songs to the playlist! </p><div class="acct-txt">Don't have an account?</div><div class="button-wrapper2"><div class="home-signup-btn">Sign Up</div></div>
	        </div>
	    </div> <!--.story-->
	    
	</div> <!--#second-->
	
	<div id="third">
		<div class="story">
	    	<div class="float-left">
	        	<h2>music</h2>
	            <p>Search SoundCloud's database of millions of songs in all music genres, including audiobooks, podcasts and comedy. Just type the name of a song you want to download into the keyword or genre search field and hit Enter. Listen first, then add any song to your personal playlist.</p><div class="button-wrapper2"><div class="home-search-btn">Search Songs</div></div>
	        </div>
	    </div> <!--.story-->
	</div> <!--#third-->
	
	<div id="fifth">
		<div class="story">
        	<div class="footer-logo-wrapper">
        		    	<div class="sc-icon"><i class="fa fa-soundcloud"></i></div>
        		    	<div class="plus">+</div>
		    <div class="footer-logo">SOUNDZ</div>
            </div>
	      	<div class="footer-links">
            <a href="#">Home</a><a href="/#register">Register</a><a href="/#playlist">Playlist</a><a href="/#search">Search</a><a href="/#register">Login</a>
	     	</div>
	  
	      
	    </div> <!--.story-->
	</div> <!--#fifth-->