    <div class="pl-song" data-id="{{id}}">
    {{#if artwork_url}}<img class="pl-img" src="{{artwork_url}}">{{/if}}<div class="pl-song-title">{{title}}</div>
    <div class="pl-song-genre">{{genre}}</div>
    <div class="glyph delete"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe082;" data-js-prompt="&amp;#xe005;"></span></div>
    </div>