    <div class="pl-song">
    <img class="pl-img" src="http://www.ideate-interactive.com/IY/images/album-sample.jpg"><div class="pl-song-title">{{title}}</div>
    <div class="pl-song-genre">{{genre}}</div>
    <div class="glyph delete"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe082;" data-js-prompt="&amp;#xe005;"></span></div>
    </div>