<div class="header">
		<div class="playlist-title">Joey's Playlist</div>
        <div class="soundbars"><img src="http://www.ideate-interactive.com/IY/images/soundbars.png"></div>
        <div class="pl-status">now playing...</div>
        <div class="song-title"></div>
        <div class="pl-subtitles">
            <div class="pl-genre-title">Genre: </div><div class="pl-genre">Electronic</div>
            <div class="glyph twit"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe009;" data-js-prompt="&amp;#xe005;"></span></div>
            <div class="glyph share"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe05b;" data-js-prompt="&amp;#xe005;"></span></div>
        </div>
        </div>
        <div class="scrollbars">
    <!--songs-->
    </div>
  	<div class="main-container">

    </div>