<div class="header header-playlist">
		<div class="playlist-title">{{userName}}'s Playlist</div>
        <div class="soundbars"></div>
        <div class="pl-status">now playing...</div>
        <div class="song-title"></div>
        <div class="pl-subtitles">
            <div class="pl-genre-title">Genre: </div><div class="pl-genre">Electronic</div>
            <div class="glyph twit"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe009;" data-js-prompt="&amp;#xe005;"></span></div>
            <div class="glyph share"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe05b;" data-js-prompt="&amp;#xe005;"></span></div>
        </div>
        </div>
        <div class="scrollbars">
    <!--songs-->
    </div>
    <div class="player-wrapper">

            <div class="circle">
                <img class="artwork" src="../img/artwork-placeholder.jpg">
            </div>

            <div class="track-progress">

            </div>

        <div class="track-controllers">
           <a class="backward" href=""></a><a class="playpause"><i class="fa fa-pause pp-icon"></i></a><a class="forward" href=""></a>
        </div>
    </div>
  	<div class="main-container">

    </div>