
<div class="reg-wrapper">
	<div class="reg-logo">SOUNDZ</div>
</div>

<div class="reg-wrapper">
	<img src="http://www.ideate-interactive.com/IY/images/reg-pic2.jpg">
	<div class="reg-bg-right">
		
</div>




</div>
    
