
   <div class="reg-wrapper">
<div class="reg-logo">SOUNDZ</div>
</div>
<div class="reg-wrapper">
<img src="http://www.ideate-interactive.com/IY/images/reg-pic.jpg">
<div class="reg-bg-right">
<div class="reg-title">
<hr>
login or register
to explore Soundz
<hr>
</div>
<div class="twitter-btn"><div class="left"><img src="http://www.ideate-interactive.com/IY/images/twitter-icon.png"></div><div class="t-text">Sign up <span>via</span>Twitter</div></div>
<div class="reg-smtext">We'll never post without your permission.</div>

</div>
</div>
    
